{% from 'macros/proxy_labels.j2' import proxy_labels with context %}
services:
  autobrr:
    container_name: autobrr
    image: ghcr.io/autobrr/autobrr:latest
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy_net
      - download_net
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    user: ${PUID}:${PGID}
    environment:
      - TZ=${TIMEZONE}
    volumes:
      - ${HMSD_APPS_PATH}/autobrr/config:/config
    {% if 'autobrr' in expose_ports_enabled_containers %}
    ports:
      - 7474:7474
    {% endif %}
    {% if 'autobrr' in proxy_enabled_containers or 'autobrr' in homepage_enabled_containers %}
    labels:
{{ proxy_labels(name='autobrr', port=7474) -}}
      {% if 'autobrr' in homepage_enabled_containers %}
      - homepage.group=Downloads
      - homepage.name=Autobrr
      - homepage.icon=autobrr.png
      - homepage.href=http://{{ hms_docker_container_map['autobrr']['proxy_host_rule'] | default('autobrr') }}.${HMSD_DOMAIN}
      - homepage.description=Torrent Automation
      - homepage.widget.type=autobrr
      - homepage.widget.url=http://autobrr:7474
      - homepage.widget.key=${AUTOBRR_KEY:-apikeyapikeyapikey}
        {% if 'autobrr' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
    healthcheck:
      test: curl -f http://127.0.0.1:7474/api/healthz || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s
