services:
  bazarr:
    image: linuxserver/bazarr:latest
    container_name: bazarr
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    healthcheck:
      test: curl -f http://localhost:6767/health || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 20s
    {% if 'bazarr' in expose_ports_enabled_containers %}
    ports:
      - 6767:6767
    {% endif %}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${HMSD_APPS_PATH}/bazarr/config:/config
      - ${HMSD_MOUNT_PATH}:/data
    {% if 'bazarr' in traefik_enabled_containers or 'bazarr' in homepage_enabled_containers %}
    labels:
      {% if 'bazarr' in traefik_enabled_containers %}
      - traefik.enable=true
      - traefik.http.services.bazarr-${COMPOSE_PROJECT}.loadbalancer.server.port=6767
      - traefik.http.routers.bazarr-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['bazarr']['proxy_host_rule'] | default('bazarr') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.bazarr-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'bazarr' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-bazarr-midware@docker' if 'bazarr' in authentik_enabled_containers }}
      {% endif %}
      {% if 'bazarr' in homepage_enabled_containers %}
      - homepage.group=Managers
      - homepage.name=Bazarr
      - homepage.icon=bazarr.png
      - homepage.href=http://{{ hms_docker_container_map['bazarr']['proxy_host_rule'] | default('bazarr') }}.${HMSD_DOMAIN}
      - homepage.description=Subtitle Manager
      - homepage.widget.type=bazarr
      - homepage.widget.url=http://bazarr:6767
      - homepage.widget.key=${BAZARR_KEY:-apikeyapikeyapikey}
        {% if 'bazarr' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
