services:
  calibre:
    image: lscr.io/linuxserver/calibre:latest
    container_name: calibre
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${HMSD_APPS_PATH}/calibre/config:/config
      - ${HMSD_MOUNT_PATH}:/data
    {% if 'calibre' in expose_ports_enabled_containers %}
    ports:
      - 8083:8080 # remote desktop http
      - 8182:8181 # remote desktop https
      - 8084:8081 # webserver (must be enabled in settings using remote desktop)
    {% endif %}
    {% if 'calibre' in traefik_enabled_containers %}
    labels:
      - traefik.enable=true
      - traefik.http.services.calibre-${COMPOSE_PROJECT}.loadbalancer.server.port=8181
      - traefik.http.services.calibre-${COMPOSE_PROJECT}.loadbalancer.server.scheme=https
      - traefik.http.routers.calibre-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['calibre']['proxy_host_rule'] | default('calibre') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.calibre-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'calibre' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-calibre-midware@docker' if 'calibre' in authentik_enabled_containers }}
    {% endif %}
