{% from 'macros/proxy_labels.j2' import proxy_labels with context %}
services:
  checkrr:
    image: aetaric/checkrr:latest
    container_name: checkrr
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    {% if 'checkrr' in expose_ports_enabled_containers %}
    ports:
      - 8585:8585
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/checkrr/config:/etc/checkrr
      - ${HMSD_MOUNT_PATH}:/data:ro
    {% if 'checkrr' in proxy_enabled_containers or 'checkrr' in homepage_enabled_containers %}
    labels:
{{ proxy_labels(name='checkrr', port=8585) -}}
      {% if 'checkrr' in homepage_enabled_containers %}
      - homepage.group=Managers
      - homepage.name=Checkrr
      - homepage.icon=checkrr.png
      - homepage.href=https://{{ hms_docker_container_map['checkrr']['proxy_host_rule'] | default('checkrr') }}.${HMSD_DOMAIN}
      - homepage.description=Media Integrity Scanner
        {% if 'checkrr' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
    healthcheck:
      test: wget --spider -q http://127.0.0.1:8585/ || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s
