{% from 'macros/proxy_labels.j2' import proxy_labels with context %}
services:
  deluge:
    image: binhex/arch-delugevpn
    container_name: deluge
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - download_net
      - proxy_net
    {% if hmsdocker_vpn_type == 'wireguard' %}
    privileged: true
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    {% else %}
    cap_add:
      - NET_ADMIN
    {% endif %}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
      - VPN_ENABLED=yes
      - VPN_USER=${VPN_USER}
      - VPN_PASS=${VPN_PASS}
      - VPN_PROV=custom
      - VPN_CLIENT={{ hmsdocker_vpn_type }}
      - ENABLE_PRIVOXY=yes
      - LAN_NETWORK={{ hms_docker_network_subnet }}
    volumes:
      - ${HMSD_APPS_PATH}/deluge/config:/config
      - ${HMSD_MOUNT_PATH}:/data
    {% if 'deluge' in expose_ports_enabled_containers %}
    ports:
      - 8112:8112
      - 8119:8118 # privoxy
    {% endif %}
    {% if 'deluge' in proxy_enabled_containers or 'deluge' in homepage_enabled_containers %}
    labels:
{{ proxy_labels(name='deluge', port=8112) -}}
      {% if 'deluge' in homepage_enabled_containers %}
      - homepage.group=Downloads
      - homepage.name=deluge
      - homepage.icon=deluge.png
      - homepage.href=http://{{ hms_docker_container_map['deluge']['proxy_host_rule'] | default('deluge') }}.${HMSD_DOMAIN}
      - homepage.description=Torrent Management
      - homepage.widget.type=deluge
      - homepage.widget.url=http://deluge:8112
        {% if 'deluge' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
    healthcheck:
      test: curl -f http://127.0.0.1:8112/ || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s
