{% from 'macros/proxy_labels.j2' import proxy_labels with context %}
services:
  dockhand:
    image: fnsys/dockhand:latest
    container_name: dockhand
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    {% if 'dockhand' in expose_ports_enabled_containers %}
    ports:
      - 3003:3000
    {% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${HMSD_APPS_PATH}/dockhand/config:/app/data
    {% if 'dockhand' in proxy_enabled_containers or 'dockhand' in homepage_enabled_containers %}
    labels:
{{ proxy_labels(name='dockhand', port=3000) -}}
      {% if 'dockhand' in homepage_enabled_containers %}
      - homepage.group=Infrastructure
      - homepage.name=Dockhand
      - homepage.icon=dockhand.png
      - homepage.href=http://{{ hms_docker_container_map['dockhand']['proxy_host_rule'] | default('dockhand') }}.${HMSD_DOMAIN}
      - homepage.description=Container Management
      - homepage.widget.type=dockhand
      - homepage.widget.url=http://dockhand:3000
      - homepage.widget.username=${DOCKHAND_USER:-dockhanduserisblank}
      - homepage.widget.password=${DOCKHAND_PASS:-dockhandpasswordisblank}
        {% if 'dockhand' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
    healthcheck:
      test: curl -f http://127.0.0.1:3000/ || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s
