services:
  emby:
    image: lscr.io/linuxserver/emby:latest
    container_name: emby
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    {% if enable_intel_gpu %}
    devices:
      - /dev/dri:/dev/dri
    {% endif %}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    {% if enable_nvidia_gpu %}
      - NVIDIA_VISIBLE_DEVICES=all
    runtime: nvidia
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/emby/config:/config
      - {{ plex_transcode_folder }}/cache:/cache
      # media folder where all movies and series are stored
      - ${HMSD_MOUNT_PATH}:/data
    {% if hmsdocker_expose_ports_enabled_emby %}
    ports:
      {% if hmsdocker_expose_ports_enabled_jellyfin %}
      - 8097:8096
      - 8921:8920 #optional
      {% else %}
      - 8096:8096
      - 8920:8920 #optional
      {% endif %}
    {% endif %}
    {% if hmsdocker_traefik_enabled_emby or hmsdocker_homepage_enabled_emby %}
    labels:
      {% if hmsdocker_traefik_enabled_emby %}
      - traefik.enable=true
      - traefik.http.services.emby-${COMPOSE_PROJECT}.loadbalancer.server.port=8096
      - traefik.http.routers.emby-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['emby']['proxy_host_rule'] | default('emby') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.emby-${COMPOSE_PROJECT}.middlewares={{ 'external' if hmsdocker_expose_public_enabled_emby else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-emby-midware@docker' if hmsdocker_authentik_enabled_emby }}
      {% endif %}
      {% if hmsdocker_homepage_enabled_emby %}
      - homepage.group=Media
      - homepage.name=Emby
      - homepage.icon=emby.png
      - homepage.href=http://{{ hms_docker_container_map['emby']['proxy_host_rule'] | default('emby') }}.${HMSD_DOMAIN}
      - homepage.description=Media Server
      - homepage.widget.type=emby
      - homepage.widget.url=https://emby:8096
      - homepage.widget.key=${EMBY_KEY:-apikeyapikeyapikey}
        {% if hmsdocker_homepage_stats_enabled_emby %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
