{% from 'macros/proxy_labels.j2' import proxy_labels with context %}
services:
  heimdall:
    image: lscr.io/linuxserver/heimdall:latest
    container_name: heimdall
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    {% if 'heimdall' in expose_ports_enabled_containers %}
    ports:
      - 8000:80
      - 8443:443
    {% endif %}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${HMSD_APPS_PATH}/heimdall/config:/config
    {% if 'heimdall' in traefik_enabled_containers %}
    labels:
{{ proxy_labels(name='heimdall', port=443, scheme='https') -}}
    {% endif %}
    healthcheck:
      test: curl -f http://127.0.0.1:80/ || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s
