services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${HMSD_APPS_PATH}/homepage/config:/app/config
    environment:
      - TZ=${TIMEZONE}
    {% if hmsdocker_expose_ports_enabled_homepage %}
    ports:
      - 3000:3000
    {% endif %}
    {% if hmsdocker_traefik_enabled_homepage %}
    labels:
      - traefik.enable=true
      - traefik.http.services.homepage-${COMPOSE_PROJECT}.loadbalancer.server.port=3000
      - traefik.http.routers.homepage-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['homepage']['proxy_host_rule'] | default('homepage') }}.${HMSD_DOMAIN}`)
        {% if not hmsdocker_expose_public_enabled_homepage %}
      - traefik.http.routers.homepage-${COMPOSE_PROJECT}.middlewares=internal-ipallowlist@file
        {% endif %}
        {% if hmsdocker_authentik_enabled_homepage %}
      - traefik.http.routers.homepage-${COMPOSE_PROJECT}.middlewares=authentik-proxy-${COMPOSE_PROJECT}-homepage-midware@docker
        {% endif %}
    {% endif %}
