services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${HMSD_APPS_PATH}/homepage/config:/app/config
    environment:
      - TZ=${TIMEZONE}
      - HOMEPAGE_ALLOWED_HOSTS={{ hms_docker_container_map['homepage']['proxy_host_rule'] | default('homepage') }}.${HMSD_DOMAIN},{{ ansible_default_ipv4.address }}:3000
    {% if 'homepage' in expose_ports_enabled_containers %}
    ports:
      - 3000:3000
    {% endif %}
    {% if 'homepage' in traefik_enabled_containers %}
    labels:
      - traefik.enable=true
      - traefik.http.services.homepage-${COMPOSE_PROJECT}.loadbalancer.server.port=3000
      - traefik.http.routers.homepage-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['homepage']['proxy_host_rule'] | default('homepage') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.homepage-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'homepage' in expose_public_enabled_containers else 'internal'}}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-homepage-midware@docker' if 'homepage' in authentik_enabled_containers }}
    {% endif %}
