services:
  huntarr:
    image: huntarr/huntarr:latest
    container_name: huntarr
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    {% if 'huntarr' in expose_ports_enabled_containers %}
    ports:
      - 9705:9705
    {% endif %}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${HMSD_APPS_PATH}/huntarr/config:/config
    {% if 'huntarr' in traefik_enabled_containers or 'huntarr' in homepage_enabled_containers %}
    labels:
      {% if 'huntarr' in traefik_enabled_containers %}
      - traefik.enable=true
      - traefik.http.services.huntarr-${COMPOSE_PROJECT}.loadbalancer.server.port=9705
      - traefik.http.routers.huntarr-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['huntarr']['proxy_host_rule'] | default('huntarr') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.huntarr-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'huntarr' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-huntarr-midware@docker' if 'huntarr' in authentik_enabled_containers }}
      {% endif %}
      {% if 'huntarr' in homepage_enabled_containers %}
      - homepage.group=Managers
      - homepage.name=Huntarr
      - homepage.icon=huntarr.png
      - homepage.href=http://{{ hms_docker_container_map['huntarr']['proxy_host_rule'] | default('huntarr') }}.${HMSD_DOMAIN}
      - homepage.description=Media Download Manager
        {% if 'huntarr' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
