services:
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    environment:
      - LOG_LEVEL=info
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    {% if hmsdocker_traefik_enabled_jellyseerr or hmsdocker_homepage_enabled_jellyseerr %}
    labels:
      {% if hmsdocker_traefik_enabled_jellyseerr %}
      - traefik.enable=true
      - traefik.http.services.jellyseerr-${COMPOSE_PROJECT}.loadbalancer.server.port=5055
      - traefik.http.routers.jellyseerr-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['jellyseerr']['proxy_host_rule'] | default('jellyseerr') }}.${HMSD_DOMAIN}`)
        {% if not hmsdocker_expose_public_enabled_jellyseerr %}
      - traefik.http.routers.jellyseerr-${COMPOSE_PROJECT}.middlewares=internal-ipallowlist@file
        {% endif %}
        {% if hmsdocker_authentik_enabled_jellyseerr %}
      - traefik.http.routers.jellyseerr-${COMPOSE_PROJECT}.middlewares=authentik-proxy-${COMPOSE_PROJECT}-jellyseerr-midware@docker
        {% endif %}
      {% endif %}
      {% if hmsdocker_homepage_enabled_jellyseerr %}
      - homepage.group=Managers
      - homepage.name=Jellyseerr
      - homepage.icon=jellyseerr.png
      - homepage.href=http://{{ hms_docker_container_map['jellyseerr']['proxy_host_rule'] | default('jellyseerr') }}.${HMSD_DOMAIN}
      - homepage.description=Request Manager
      - homepage.widget.type=jellyseerr
      - homepage.widget.url=http://jellyseerr:5055
      - homepage.widget.key=${JELLYSEERR_KEY:-apikeyapikeyapikey}
      {% if hmsdocker_homepage_stats_enabled_jellyseerr %}
      - homepage.showStats=true
      {% endif %}
      {% endif %}
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/jellyseerr/config:/app/config
    {% if hmsdocker_expose_ports_enabled_jellyseerr %}
    ports:
      - 5056:5055
    {% endif %}
