services:
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    environment:
      - LOG_LEVEL=info
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    {% if 'jellyseerr' in traefik_enabled_containers or 'jellyseerr' in homepage_enabled_containers %}
    labels:
      {% if 'jellyseerr' in traefik_enabled_containers %}
      - traefik.enable=true
      - traefik.http.services.jellyseerr-${COMPOSE_PROJECT}.loadbalancer.server.port=5055
      - traefik.http.routers.jellyseerr-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['jellyseerr']['proxy_host_rule'] | default('jellyseerr') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.jellyseerr-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'jellyseerr' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-jellyseerr-midware@docker' if 'jellyseerr' in authentik_enabled_containers }}
      {% endif %}
      {% if 'jellyseerr' in homepage_enabled_containers %}
      - homepage.group=Managers
      - homepage.name=Jellyseerr
      - homepage.icon=jellyseerr.png
      - homepage.href=http://{{ hms_docker_container_map['jellyseerr']['proxy_host_rule'] | default('jellyseerr') }}.${HMSD_DOMAIN}
      - homepage.description=Request Manager
      - homepage.widget.type=jellyseerr
      - homepage.widget.url=http://jellyseerr:5055
      - homepage.widget.key=${JELLYSEERR_KEY:-apikeyapikeyapikey}
        {% if 'jellyseerr' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/jellyseerr/config:/app/config
    {% if 'jellyseerr' in expose_ports_enabled_containers %}
    ports:
      - 5056:5055
    {% endif %}
