{% from 'macros/proxy_labels.j2' import proxy_labels with context %}
services:
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    environment:
      - LOG_LEVEL=info
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    {% if 'jellyseerr' in proxy_enabled_containers or 'jellyseerr' in homepage_enabled_containers %}
    labels:
{{ proxy_labels(name='jellyseerr', port=5055) -}}
      {% if 'jellyseerr' in homepage_enabled_containers %}
      - homepage.group=Managers
      - homepage.name=Jellyseerr
      - homepage.icon=jellyseerr.png
      - homepage.href=http://{{ hms_docker_container_map['jellyseerr']['proxy_host_rule'] | default('jellyseerr') }}.${HMSD_DOMAIN}
      - homepage.description=Request Manager
      - homepage.widget.type=jellyseerr
      - homepage.widget.url=http://jellyseerr:5055
      - homepage.widget.key=${JELLYSEERR_KEY:-apikeyapikeyapikey}
        {% if 'jellyseerr' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/jellyseerr/config:/app/config
    {% if 'jellyseerr' in expose_ports_enabled_containers %}
    ports:
      - 5056:5055
    {% endif %}
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://127.0.0.1:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
