services:
  kavita:
    image: lscr.io/linuxserver/kavita:latest
    container_name: kavita
    networks:
      - proxy_net
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${HMSD_APPS_PATH}/kavita/config:/config
      - ${HMSD_MOUNT_PATH}:/data
    {% if 'kavita' in expose_ports_enabled_containers %}
    ports:
      - 5000:5000
    {% endif %}
    {% if 'kavita' in traefik_enabled_containers %}
    labels:
      - traefik.enable=true
      - traefik.http.services.kavita-${COMPOSE_PROJECT}.loadbalancer.server.port=5000
      - traefik.http.routers.kavita-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['kavita']['proxy_host_rule'] | default('kavita') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.kavita-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'kavita' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-kavita-midware@docker' if 'kavita' in authentik_enabled_containers }}
    {% endif %}
