{% from 'macros/proxy_labels.j2' import proxy_labels with context %}
services:
  kavita:
    image: lscr.io/linuxserver/kavita:latest
    container_name: kavita
    networks:
      - proxy_net
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${HMSD_APPS_PATH}/kavita/config:/config
      - ${HMSD_MOUNT_PATH}:/data
    {% if 'kavita' in expose_ports_enabled_containers %}
    ports:
      - 5000:5000
    {% endif %}
    {% if 'kavita' in proxy_enabled_containers %}
    labels:
{{ proxy_labels(name='kavita', port=5000) -}}
    {% endif %}
    healthcheck:
      test: curl -f http://127.0.0.1:5000/ || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s
