{% from 'macros/proxy_labels.j2' import proxy_labels with context %}
services:
  maintainerr:
    image: ghcr.io/maintainerr/maintainerr:latest
    container_name: maintainerr
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy_net
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    user: ${PUID}:${PGID}
    volumes:
      - ${HMSD_APPS_PATH}/maintainerr/config:/opt/data
    environment:
      - TZ=${TIMEZONE}
    {% if 'maintainerr' in expose_ports_enabled_containers %}
    ports:
      - 6246:6246
    {% endif %}
    {% if 'maintainerr' in proxy_enabled_containers %}
    labels:
{{ proxy_labels(name='maintainerr', port=6246) -}}
    {% endif %}
    healthcheck:
      test: curl -f http://127.0.0.1:6246/ || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s
