services:
  notifiarr:
    image: golift/notifiarr:latest
    container_name: notifiarr
    hostname: notifiarr-hmsd
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    {% if 'notifiarr' in expose_ports_enabled_containers %}
    ports:
      - 5454:5454
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/notifiarr/config:/config
      - /var/run/utmp:/var/run/utmp
      - /etc/machine-id:/etc/machine-id
    environment:
      - DN_API_KEY=${NOTIFIARR_API_KEY}
    {% if 'lidarr' in enabled_containers %}
      - DN_LIDARR_0_NAME=Lidarr
      - DN_LIDARR_0_URL=http://lidarr:8686
      - DN_LIDARR_0_API_KEY=${LIDARR_KEY}
    {% endif %}
    {% if 'prowlarr' in enabled_containers %}
      - DN_PROWLARR_0_NAME=Prowlarr
      - DN_PROWLARR_0_URL=http://prowlarr:9696
      - DN_PROWLARR_0_API_KEY=${PROWLARR_KEY}
    {% endif %}
    {% if 'radarr' in enabled_containers %}
      - DN_RADARR_0_NAME=Radarr
      - DN_RADARR_0_URL=http://radarr:7878
      - DN_RADARR_0_API_KEY=${RADARR_KEY}
      {% if separate_4k_instances_enable %}
      - DN_RADARR_1_NAME=Radarr-4K
      - DN_RADARR_1_URL=http://radarr-4k:7878
      - DN_RADARR_1_API_KEY=${RADARR_4K_KEY}
      {% endif %}
    {% endif %}
    {% if 'sonarr' in enabled_containers %}
      - DN_SONARR_0_NAME=Sonarr
      - DN_SONARR_0_URL=http://sonarr:8989
      - DN_SONARR_0_API_KEY=${SONARR_KEY}
      {% if separate_4k_instances_enable %}
      - DN_SONARR_1_NAME=Sonarr-4K
      - DN_SONARR_1_URL=http://sonarr-4k:8989
      - DN_SONARR_1_API_KEY=${SONARR_4K_KEY}
      {% endif %}
    {% endif %}
    {% if 'sabnzbd' in enabled_containers %}
      - DN_SABNZBD_0_NAME=SABnzbd
      - DN_SABNZBD_0_URL=http://sabnzbd:8080
      - DN_SABNZBD_0_API_KEY=${SABNZBD_KEY}
    {% endif %}
    {% if 'plex' in enabled_containers %}
      - DN_PLEX_NAME=Plex
      - DN_PLEX_URL=http://plex:32400
      - DN_PLEX_TOKEN=${PLEX_KEY}
    {% endif %}
    {% if 'notifiarr' in traefik_enabled_containers or hmsdocker_homepage_enabled_notifiarr %}
    labels:
      {% if 'notifiarr' in traefik_enabled_containers %}
      - traefik.enable=true
      - traefik.http.services.notifiarr-${COMPOSE_PROJECT}.loadbalancer.server.port=5454
      - traefik.http.routers.notifiarr-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['notifiarr']['proxy_host_rule'] | default('notifiarr') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.notifiarr-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'notifiarr' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-notifiarr-midware@docker' if 'notifiarr' in authentik_enabled_containers }}
      {% endif %}
    {% endif %}
