services:
  nzbget:
    image: lscr.io/linuxserver/nzbget:latest
    container_name: nzbget
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
      - download_net
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${HMSD_APPS_PATH}/nzbget/config:/config
      - ${HMSD_MOUNT_PATH}:/data
    {% if 'nzbget' in expose_ports_enabled_containers %}
    ports:
      - 6789:6789
    {% endif %}
    {% if 'nzbget' in traefik_enabled_containers or 'nzbget' in homepage_enabled_containers %}
    labels:
      {% if 'nzbget' in traefik_enabled_containers %}
      - traefik.enable=true
      - traefik.http.services.nzbget-${COMPOSE_PROJECT}.loadbalancer.server.port=6789
      - traefik.http.routers.nzbget-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['nzbget']['proxy_host_rule'] | default('nzbget') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.nzbget-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'nzbget' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-nzbget-midware@docker' if 'nzbget' in authentik_enabled_containers }}
      {% endif %}
      {% if 'nzbget' in homepage_enabled_containers %}
      - homepage.group=Downloads
      - homepage.name=NZBget
      - homepage.icon=nzbget.png
      - homepage.href=http://{{ hms_docker_container_map['nzbget']['proxy_host_rule'] | default('nzbget') }}.${HMSD_DOMAIN}
      - homepage.description=NZB Manager
      - homepage.widget.type=nzbget
      - homepage.widget.url=http://nzbget:8080
      - homepage.widget.key=${NZBGET_KEY:-apikeyapikeyapikey}
        {% if 'nzbget' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
