{% from 'macros/proxy_labels.j2' import proxy_labels with context %}
services:
  overseerr:
    image: linuxserver/overseerr:latest
    container_name: overseerr
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    {% if 'overseerr' in traefik_enabled_containers or 'overseerr' in homepage_enabled_containers %}
    labels:
{{ proxy_labels(name='overseerr', port=5055) -}}
      {% if 'overseerr' in homepage_enabled_containers %}
      - homepage.group=Managers
      - homepage.name=Overseerr
      - homepage.icon=overseerr.png
      - homepage.href=http://{{ hms_docker_container_map['overseerr']['proxy_host_rule'] | default('overseerr') }}.${HMSD_DOMAIN}
      - homepage.description=Request Manager
      - homepage.widget.type=overseerr
      - homepage.widget.url=http://overseerr:5055
      - homepage.widget.key=${OVERSEERR_KEY:-apikeyapikeyapikey}
        {% if 'overseerr' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/overseerr/config:/config
    {% if 'overseerr' in expose_ports_enabled_containers %}
    ports:
      - 5055:5055
    {% endif %}
    healthcheck:
      test: curl -f http://127.0.0.1:5055 || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s
