services:
  overseerr:
    image: linuxserver/overseerr:latest
    container_name: overseerr
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    {% if 'overseerr' in traefik_enabled_containers or 'overseerr' in homepage_enabled_containers %}
    labels:
      {% if 'overseerr' in traefik_enabled_containers %}
      - traefik.enable=true
      - traefik.http.services.overseerr-${COMPOSE_PROJECT}.loadbalancer.server.port=5055
      - traefik.http.routers.overseerr-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['overseerr']['proxy_host_rule'] | default('overseerr') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.overseerr-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'overseerr' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-overseerr-midware@docker' if 'overseerr' in authentik_enabled_containers }}
      {% endif %}
      {% if 'overseerr' in homepage_enabled_containers %}
      - homepage.group=Managers
      - homepage.name=Overseerr
      - homepage.icon=overseerr.png
      - homepage.href=http://{{ hms_docker_container_map['overseerr']['proxy_host_rule'] | default('overseerr') }}.${HMSD_DOMAIN}
      - homepage.description=Request Manager
      - homepage.widget.type=overseerr
      - homepage.widget.url=http://overseerr:5055
      - homepage.widget.key=${OVERSEERR_KEY:-apikeyapikeyapikey}
        {% if 'overseerr' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/overseerr/config:/config
    {% if 'overseerr' in expose_ports_enabled_containers %}
    ports:
      - 5055:5055
    {% endif %}
    healthcheck:
      test: curl -f http://localhost:5055 || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s
