services:
  pasta:
    image: cglatot/pasta:latest
    container_name: pasta
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    {% if 'pasta' in expose_ports_enabled_containers %}
    ports:
      - 8085:80
    {% endif %}
    {% if 'pasta' in traefik_enabled_containers %}
    labels:
      - traefik.enable=true
      - traefik.http.services.pasta-${COMPOSE_PROJECT}.loadbalancer.server.port=80
      - traefik.http.routers.pasta-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['pasta']['proxy_host_rule'] | default('pasta') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.pasta-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'pasta' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-pasta-midware@docker' if 'pasta' in authentik_enabled_containers }}
    {% endif %}
    
