{% from 'macros/proxy_labels.j2' import proxy_labels with context %}
services:
  pinchflat:
    image: ghcr.io/kieraneglin/pinchflat:latest
    container_name: pinchflat
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    environment:
      - TZ=${TIMEZONE}
    {% if 'pinchflat' in expose_ports_enabled_containers %}
    ports:
      - 8945:8945
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/pinchflat/config:/config
      - ${HMSD_MOUNT_PATH}/{{ hms_docker_primary_mount_name }}/{{ hms_docker_library_folder_name }}/youtube/pinchflat:/downloads
    {% if 'pinchflat' in proxy_enabled_containers or 'pinchflat' in homepage_enabled_containers %}
    labels:
{{ proxy_labels(name='pinchflat', port=8945) -}}
      {% if 'pinchflat' in homepage_enabled_containers %}
      - homepage.group=Managers
      - homepage.name=Pinchflat
      - homepage.icon=pinchflat.png
      - homepage.href=https://{{ hms_docker_container_map['pinchflat']['proxy_host_rule'] | default('pinchflat') }}.${HMSD_DOMAIN}
      - homepage.description=YouTube Archiver
        {% if 'pinchflat' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
    healthcheck:
      test: curl -f http://127.0.0.1:8945/ || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s
