services:
  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - download_net
      - proxy_net
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${HMSD_APPS_PATH}/prowlarr/config:/config
    {% if 'prowlarr' in expose_ports_enabled_containers %}
    ports:
      - 9696:9696
    {% endif %}
    {% if 'prowlarr' in traefik_enabled_containers or 'prowlarr' in homepage_enabled_containers %}
    labels:
      {% if 'prowlarr' in traefik_enabled_containers %}
      - traefik.enable=true
      - traefik.http.services.prowlarr-${COMPOSE_PROJECT}.loadbalancer.server.port=9696
      - traefik.http.routers.prowlarr-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['prowlarr']['proxy_host_rule'] | default('prowlarr') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.prowlarr-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'prowlarr' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-prowlarr-midware@docker' if 'prowlarr' in authentik_enabled_containers }}
      {% endif %}
      {% if 'prowlarr' in homepage_enabled_containers %}
      - homepage.group=Managers
      - homepage.name=Prowlarr
      - homepage.icon=prowlarr.png
      - homepage.href=http://{{ hms_docker_container_map['prowlarr']['proxy_host_rule'] | default('prowlarr')}}.${HMSD_DOMAIN}
      - homepage.description=Indexer Management
      - homepage.widget.type=prowlarr
      - homepage.widget.url=http://prowlarr:9696
      - homepage.widget.key=${PROWLARR_KEY:-apikeyapikeyapikey}
      {% if 'prowlarr' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
      {% endif %}
      {% endif %}
    {% endif %}
    healthcheck:
      test: curl -f http://localhost:9696/health || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s
