services:
  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - download_net
      - proxy_net
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    {% if hmsdocker_traefik_enabled_radarr or hmsdocker_homepage_enabled_radarr %}
    labels:
      {% if hmsdocker_traefik_enabled_radarr %}
      - traefik.enable=true
      - traefik.http.services.radarr-${COMPOSE_PROJECT}.loadbalancer.server.port=7878
      - traefik.http.routers.radarr-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['radarr']['proxy_host_rule'] | default('radarr') }}.${HMSD_DOMAIN}`)
        {% if not hmsdocker_expose_public_enabled_radarr %}
      - traefik.http.routers.radarr-${COMPOSE_PROJECT}.middlewares=internal-ipallowlist@file
        {% endif %}
        {% if hmsdocker_authentik_enabled_radarr %}
      - traefik.http.routers.radarr-${COMPOSE_PROJECT}.middlewares=authentik-proxy-${COMPOSE_PROJECT}-radarr-midware@docker
        {% endif %}
      {% endif %}
      {% if hmsdocker_homepage_enabled_radarr %}
      - homepage.group=Managers
      - homepage.name=Radarr
      - homepage.icon=radarr.png
      - homepage.href=http://{{ hms_docker_container_map['radarr']['proxy_host_rule'] | default('radarr') }}.${HMSD_DOMAIN}
      - homepage.description=Movie Manager
      - homepage.widget.type=radarr
      - homepage.widget.url=http://radarr:7878
      - homepage.widget.key=${RADARR_KEY:-apikeyapikeyapikey}
      {% if hmsdocker_homepage_stats_enabled_radarr %}
      - homepage.showStats=true
      {% endif %}
      {% endif %}
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/radarr/config:/config
      - ${HMSD_MOUNT_PATH}:/data
    {% if hmsdocker_expose_ports_enabled_radarr %}
    ports:
      - 7878:7878
    {% endif %}

{% if separate_4k_instances_enable | default(False) %}
  radarr-{{ separate_4k_instances_suffix }}:
    image: linuxserver/radarr:latest
    container_name: radarr-{{ separate_4k_instances_suffix }}
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - download_net
      - proxy_net
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    {% if hmsdocker_traefik_enabled_radarr or hmsdocker_homepage_enabled_radarr %}
    labels:
      {% if hmsdocker_traefik_enabled_radarr %}
      - traefik.enable=true
      - traefik.http.services.radarr-{{ separate_4k_instances_suffix }}-${COMPOSE_PROJECT}.loadbalancer.server.port=7878
      - traefik.http.routers.radarr-{{ separate_4k_instances_suffix }}-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['radarr']['proxy_host_rule'] | default('radarr') }}-{{ separate_4k_instances_suffix }}.${HMSD_DOMAIN}`)
        {% if not hmsdocker_expose_public_enabled_radarr %}
      - traefik.http.routers.radarr-{{ separate_4k_instances_suffix }}-${COMPOSE_PROJECT}.middlewares=internal-ipallowlist@file
        {% endif %}
        {% if hmsdocker_authentik_enabled_radarr %}
      - traefik.http.routers.radarr-{{ separate_4k_instances_suffix }}-${COMPOSE_PROJECT}.middlewares=authentik-proxy-${COMPOSE_PROJECT}-radarr-{{ separate_4k_instances_suffix }}-midware@docker
        {% endif %}
      {% endif %}
      {% if hmsdocker_homepage_enabled_radarr %}
      - homepage.group=Managers - 4K
      - homepage.name=Radarr - {{ separate_4k_instances_suffix }}
      - homepage.icon=radarr.png
      - homepage.href=http://{{ hms_docker_container_map['radarr']['proxy_host_rule'] | default('radarr') }}-{{ separate_4k_instances_suffix }}.${HMSD_DOMAIN}
      - homepage.description=Movie Manager
      - homepage.widget.type=radarr
      - homepage.widget.url=http://radarr-{{ separate_4k_instances_suffix }}:7878
      - homepage.widget.key=${RADARR_4K_KEY:-apikeyapikeyapikey}
      {% if hmsdocker_homepage_stats_enabled_radarr %}
      - homepage.showStats=true
      {% endif %}
      {% endif %}
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/radarr-{{ separate_4k_instances_suffix }}/config:/config
      - ${HMSD_MOUNT_PATH}:/data
    {% if hmsdocker_expose_ports_enabled_radarr %}
    ports:
      - 7879:7878
    {% endif %}
{% endif %}
