{% from 'macros/proxy_labels.j2' import proxy_labels with context %}
services:
  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - download_net
      - proxy_net
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    {% if 'radarr' in traefik_enabled_containers or 'radarr' in homepage_enabled_containers %}
    labels:
{{ proxy_labels(name='radarr', port=7878) -}}
      {% if 'radarr' in homepage_enabled_containers %}
      - homepage.group=Managers
      - homepage.name=Radarr
      - homepage.icon=radarr.png
      - homepage.href=http://{{ hms_docker_container_map['radarr']['proxy_host_rule'] | default('radarr') }}.${HMSD_DOMAIN}
      - homepage.description=Movie Manager
      - homepage.widget.type=radarr
      - homepage.widget.url=http://radarr:7878
      - homepage.widget.key=${RADARR_KEY:-apikeyapikeyapikey}
      {% if 'radarr' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
      {% endif %}
      {% endif %}
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/radarr/config:/config
      - ${HMSD_MOUNT_PATH}:/data
    {% if hmsdocker_svc_misc_arr_scripts_enabled | default(false) %}
      - ${HMSD_APPS_PATH}/radarr/custom-services.d:/custom-services.d
      - ${HMSD_APPS_PATH}/radarr/custom-cont-init.d:/custom-cont-init.d
    {% endif %}
    {% if 'radarr' in expose_ports_enabled_containers %}
    ports:
      - 7878:7878
    {% endif %}
    healthcheck:
      test: curl -f http://127.0.0.1:7878/health || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 45s

{% if separate_4k_instances_enable | default(False) %}
  radarr-4k:
    image: linuxserver/radarr:latest
    container_name: radarr-4k
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - download_net
      - proxy_net
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    {% if 'radarr' in traefik_enabled_containers or 'radarr' in homepage_enabled_containers %}
    labels:
{{ proxy_labels(name='radarr', port=7878, label_name='radarr-4k', host=(hms_docker_container_map['radarr']['proxy_host_rule'] | default('radarr')) ~ '-4k') -}}
      {% if 'radarr' in homepage_enabled_containers %}
      - homepage.group=Managers - 4K
      - homepage.name=Radarr - 4K
      - homepage.icon=radarr.png
      - homepage.href=http://{{ hms_docker_container_map['radarr']['proxy_host_rule'] | default('radarr') }}-4k.${HMSD_DOMAIN}
      - homepage.description=Movie Manager
      - homepage.widget.type=radarr
      - homepage.widget.url=http://radarr-4k:7878
      - homepage.widget.key=${RADARR_4K_KEY:-apikeyapikeyapikey}
      {% if 'radarr' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
      {% endif %}
      {% endif %}
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/radarr-4k/config:/config
      - ${HMSD_MOUNT_PATH}:/data
    {% if hmsdocker_svc_misc_arr_scripts_enabled | default(false) %}
      - ${HMSD_APPS_PATH}/radarr-4k/custom-services.d:/custom-services.d
      - ${HMSD_APPS_PATH}/radarr-4k/custom-cont-init.d:/custom-cont-init.d
    {% endif %}
    {% if 'radarr' in expose_ports_enabled_containers %}
    ports:
      - 7879:7878
    {% endif %}
    healthcheck:
      test: curl -f http://127.0.0.1:7878/health || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 45s
{% endif %}
