services:
  requestrr:
    image: thomst08/requestrr:latest
    container_name: requestrr
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${HMSD_APPS_PATH}/requestrr/config:/root/config
    {% if 'requestrr' in expose_ports_enabled_containers %}
    ports:
      - 4545:4545
    {% endif %}
    {% if 'requestrr' in traefik_enabled_containers %}
    labels:
      - traefik.enable=true
      - traefik.http.services.requestrr-${COMPOSE_PROJECT}.loadbalancer.server.port=4545
      - traefik.http.routers.requestrr-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['requestrr']['proxy_host_rule'] | default('requestrr') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.requestrr-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'requestrr' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-requestrr-midware@docker' if 'requestrr' in authentik_enabled_containers }}
    {% endif %}
    # This healthcheck does not work, causing this container to not be accessible via Traefik since Traefik looks at health status
    # Commented out instead of removing so I know not to add it back or try something different that does work
    # healthcheck:
    #   test: echo > /dev/tcp/127.0.0.1/4545 || exit 1
    #   interval: 5s
    #   timeout: 2s
    #   retries: 3
    #   start_period: 30s
