services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
      - download_net
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${HMSD_APPS_PATH}/sabnzbd/config:/config
      - ${HMSD_MOUNT_PATH}:/data
    {% if hmsdocker_svc_misc_arr_scripts_enabled | default(false) %}
      - ${HMSD_APPS_PATH}/sabnzbd/custom-cont-init.d:/custom-cont-init.d
    {% endif %}
  {% if hmsdocker_expose_ports_enabled_sabnzbd %}
    ports:
      - 8082:8080
  {% endif %}
  {% if hmsdocker_traefik_enabled_sabnzbd or hmsdocker_homepage_enabled_sabnzbd %}
    labels:
    {% if hmsdocker_traefik_enabled_sabnzbd %}
      - traefik.enable=true
      - traefik.http.services.sabnzbd-${COMPOSE_PROJECT}.loadbalancer.server.port=8080
      - traefik.http.routers.sabnzbd-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['sabnzbd']['proxy_host_rule'] | default('sabnzbd') }}.${HMSD_DOMAIN}`)
      {% if not hmsdocker_expose_public_enabled_sabnzbd %}
      - traefik.http.routers.sabnzbd-${COMPOSE_PROJECT}.middlewares=internal-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file
      {% endif %}
      {% if hmsdocker_authentik_enabled_sabnzbd %}
      - traefik.http.routers.sabnzbd-${COMPOSE_PROJECT}.middlewares=authentik-proxy-${COMPOSE_PROJECT}-sabnzbd-midware@docker
      {% endif %}
    {% endif %}
    {% if hmsdocker_homepage_enabled_sabnzbd %}
      - homepage.group=Downloads
      - homepage.name=SABnzbd
      - homepage.icon=sabnzbd.png
      - homepage.href=http://{{ hms_docker_container_map['sabnzbd']['proxy_host_rule'] | default('sabnzbd') }}.${HMSD_DOMAIN}
      - homepage.description=NZB Manager
      - homepage.widget.type=sabnzbd
      - homepage.widget.url=http://sabnzbd:8080
      - homepage.widget.key=${SABNZBD_KEY:-apikeyapikeyapikey}
      {% if hmsdocker_homepage_stats_enabled_sabnzbd %}
      - homepage.showStats=true
      {% endif %}
    {% endif %}
  {% endif %}
