services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
      - download_net
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${HMSD_APPS_PATH}/sabnzbd/config:/config
      - ${HMSD_MOUNT_PATH}:/data
    {% if hmsdocker_svc_misc_arr_scripts_enabled | default(false) %}
      - ${HMSD_APPS_PATH}/sabnzbd/custom-cont-init.d:/custom-cont-init.d
    {% endif %}
  {% if 'sabnzbd' in expose_ports_enabled_containers %}
    ports:
      - 8082:8080
  {% endif %}
  {% if 'sabnzbd' in traefik_enabled_containers or 'sabnzbd' in homepage_enabled_containers %}
    labels:
    {% if 'sabnzbd' in traefik_enabled_containers %}
      - traefik.enable=true
      - traefik.http.services.sabnzbd-${COMPOSE_PROJECT}.loadbalancer.server.port=8080
      - traefik.http.routers.sabnzbd-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['sabnzbd']['proxy_host_rule'] | default('sabnzbd') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.sabnzbd-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'sabnzbd' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-sabnzbd-midware@docker' if 'sabnzbd' in authentik_enabled_containers }}
    {% endif %}
    {% if 'sabnzbd' in homepage_enabled_containers %}
      - homepage.group=Downloads
      - homepage.name=SABnzbd
      - homepage.icon=sabnzbd.png
      - homepage.href=http://{{ hms_docker_container_map['sabnzbd']['proxy_host_rule'] | default('sabnzbd') }}.${HMSD_DOMAIN}
      - homepage.description=NZB Manager
      - homepage.widget.type=sabnzbd
      - homepage.widget.url=http://sabnzbd:8080
      - homepage.widget.key=${SABNZBD_KEY:-apikeyapikeyapikey}
      {% if 'sabnzbd' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
      {% endif %}
    {% endif %}
  {% endif %}
