services:
  seerr:
    image: ghcr.io/seerr-team/seerr:latest
    init: true
    container_name: seerr
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    user: ${PUID}:${PGID}
    environment:
      - LOG_LEVEL=debug
      - TZ=${TIMEZONE}
      - PORT=5055 #optional
    {% if 'seerr' in expose_ports_enabled_containers %}
    ports:
      - 5055:5055
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/seerr/config:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    {% if 'seerr' in traefik_enabled_containers or 'seerr' in homepage_enabled_containers %}
    labels:
      {% if 'seerr' in traefik_enabled_containers %}
      - traefik.enable=true
      - traefik.http.services.seerr-${COMPOSE_PROJECT}.loadbalancer.server.port=5055
      - traefik.http.routers.seerr-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['seerr']['proxy_host_rule'] | default('seerr') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.seerr-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'seerr' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-seerr-midware@docker' if 'seerr' in authentik_enabled_containers }}
      {% endif %}
      {% if 'seerr' in homepage_enabled_containers %}
      - homepage.group=Managers
      - homepage.name=Seerr
      - homepage.icon=seerr.png
      - homepage.href=http://{{ hms_docker_container_map['seerr']['proxy_host_rule'] | default('seerr') }}.${HMSD_DOMAIN}
      - homepage.description=Request Manager
      - homepage.widget.type=seerr
      - homepage.widget.url=http://seerr:5055
      - homepage.widget.key=${SEERR_KEY:-apikeyapikeyapikey}
        {% if 'seerr' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
