services:
  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - download_net
      - proxy_net
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    {% if 'sonarr' in traefik_enabled_containers or 'sonarr' in homepage_enabled_containers %}
    labels:
      {% if 'sonarr' in traefik_enabled_containers %}
      - traefik.enable=true
      - traefik.http.services.sonarr-${COMPOSE_PROJECT}.loadbalancer.server.port=8989
      - traefik.http.routers.sonarr-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['sonarr']['proxy_host_rule'] | default('sonarr') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.sonarr-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'sonarr' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-sonarr-midware@docker' if 'sonarr' in authentik_enabled_containers }}
      {% endif %}
      {% if 'sonarr' in homepage_enabled_containers %}
      - homepage.group=Managers
      - homepage.name=Sonarr
      - homepage.icon=sonarr.png
      - homepage.href=http://{{ hms_docker_container_map['sonarr']['proxy_host_rule'] | default('sonarr') }}.${HMSD_DOMAIN}
      - homepage.description=TV Show Manager
      - homepage.widget.type=sonarr
      - homepage.widget.url=http://sonarr:8989
      - homepage.widget.key=${SONARR_KEY:-apikeyapikeyapikey}
        {% if 'sonarr' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/sonarr/config:/config
      - ${HMSD_MOUNT_PATH}:/data
    {% if hmsdocker_svc_misc_arr_scripts_enabled | default(false) %}
      - ${HMSD_APPS_PATH}/sonarr/custom-services.d:/custom-services.d
      - ${HMSD_APPS_PATH}/sonarr/custom-cont-init.d:/custom-cont-init.d
    {% endif %}
    {% if 'sonarr' in expose_ports_enabled_containers %}
    ports:
      - 8989:8989
    {% endif %}
    healthcheck:
      test: curl -f http://localhost:8989/health || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s

{% if separate_4k_instances_enable | default(False) %}
  # Sonarr container, tv show indexer
  sonarr-4k:
    image: linuxserver/sonarr:latest
    container_name: sonarr-4k
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - download_net
      - proxy_net
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    {% if 'sonarr' in traefik_enabled_containers or 'sonarr' in homepage_enabled_containers %}
    labels:
      {% if 'sonarr' in traefik_enabled_containers %}
      - traefik.enable=true
      - traefik.http.services.sonarr-4k-${COMPOSE_PROJECT}.loadbalancer.server.port=8989
      - traefik.http.routers.sonarr-4k-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['sonarr']['proxy_host_rule'] | default('sonarr') }}-4k.${HMSD_DOMAIN}`)
      - traefik.http.routers.sonarr-4k-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'sonarr' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-sonarr-4k-midware@docker' if 'sonarr' in authentik_enabled_containers }}
      {% endif %}
      {% if 'sonarr' in homepage_enabled_containers %}
      - homepage.group=Managers - 4K
      - homepage.name=Sonarr - 4K
      - homepage.icon=sonarr.png
      - homepage.href=http://{{ hms_docker_container_map['sonarr']['proxy_host_rule'] | default('sonarr') }}-4k.${HMSD_DOMAIN}
      - homepage.description=TV Show Manager
      - homepage.widget.type=sonarr
      - homepage.widget.url=http://sonarr-4k:8989
      - homepage.widget.key=${SONARR_4K_KEY:-apikeyapikeyapikey}
      {% if 'sonarr' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
      {% endif %}
      {% endif %}
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/sonarr-4k/config:/config
      - ${HMSD_MOUNT_PATH}:/data
    {% if hmsdocker_svc_misc_arr_scripts_enabled | default(false) %}
      - ${HMSD_APPS_PATH}/sonarr-4k/custom-services.d:/custom-services.d
      - ${HMSD_APPS_PATH}/sonarr-4k/custom-cont-init.d:/custom-cont-init.d
    {% endif %}
    {% if 'sonarr' in expose_ports_enabled_containers %}
    ports:
      - 8990:8989
    {% endif %}
    healthcheck:
      test: curl -f http://localhost:8989/health || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s
{% endif %}
