services:
  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    container_name: speedtest-tracker
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
  {% if hmsdocker_expose_ports_enabled_speedtest %}
    ports:
      - 8090:80
      - 8444:443
  {% endif %}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - APP_KEY=${SPEEDTEST_API_KEY}
      - APP_URL=http://{{ hms_docker_container_map['speedtest-tracker']['proxy_host_rule'] | default('speedtest') }}.${HMSD_DOMAIN}
      - DB_CONNECTION=sqlite
      - SPEEDTEST_SCHEDULE=${SPEEDTEST_SCHEDULE}
      - APP_TIMEZONE=${TIMEZONE}
      - DISPLAY_TIMEZONE=${TIMEZONE}
    volumes:
      - ${HMSD_APPS_PATH}/speedtest-tracker/config:/config
  {% if hmsdocker_traefik_enabled_speedtest %}
    labels:
    {% if hmsdocker_traefik_enabled_speedtest %}
      - traefik.enable=true
      - traefik.http.services.speedtest-${COMPOSE_PROJECT}.loadbalancer.server.port=80
      - traefik.http.routers.speedtest-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['speedtest-tracker']['proxy_host_rule'] | default('speedtest') }}.${HMSD_DOMAIN}`)
      {% if not hmsdocker_expose_public_enabled_speedtest %}
      - traefik.http.routers.speedtest-${COMPOSE_PROJECT}.middlewares=internal-ipallowlist@file
      {% endif %}
      {% if hmsdocker_authentik_enabled_speedtest %}
      - traefik.http.routers.speedtest-${COMPOSE_PROJECT}.middlewares=authentik-proxy-${COMPOSE_PROJECT}-speedtest-midware@docker
      {% endif %}
    {% endif %}
  {% endif %}
