services:
  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    container_name: speedtest-tracker
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
  {% if 'speedtest-tracker' in expose_ports_enabled_containers %}
    ports:
      - 8090:80
      - 8444:443
  {% endif %}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - APP_KEY=${SPEEDTEST_API_KEY}
      - APP_URL=http://{{ hms_docker_container_map['speedtest-tracker']['proxy_host_rule'] | default('speedtest') }}.${HMSD_DOMAIN}
      - DB_CONNECTION=sqlite
      - SPEEDTEST_SCHEDULE=${SPEEDTEST_SCHEDULE}
      - APP_TIMEZONE=${TIMEZONE}
      - DISPLAY_TIMEZONE=${TIMEZONE}
    volumes:
      - ${HMSD_APPS_PATH}/speedtest-tracker/config:/config
    {% if 'speedtest-tracker' in traefik_enabled_containers or 'speedtest-tracker' in homepage_enabled_containers %}
    labels:
      {% if 'speedtest-tracker' in traefik_enabled_containers %}
      - traefik.enable=true
      - traefik.http.services.speedtest-${COMPOSE_PROJECT}.loadbalancer.server.port=80
      - traefik.http.routers.speedtest-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['speedtest-tracker']['proxy_host_rule'] | default('speedtest') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.speedtest-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'speedtest-tracker' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-speedtest-midware@docker' if 'speedtest-tracker' in authentik_enabled_containers }}
      {% endif %}
      {% if 'speedtest-tracker' in homepage_enabled_containers %}
      - homepage.group=Infrastructure
      - homepage.name=Speedtest Tracker
      - homepage.icon=speedtest-tracker.png
      - homepage.href=http://{{ hms_docker_container_map['speedtest-tracker']['proxy_host_rule'] | default('speedtest') }}.${HMSD_DOMAIN}
      - homepage.description=Speedtest Tracker
      - homepage.widget.type=speedtest
      - homepage.widget.url=http://speedtest-tracker
      - homepage.widget.version=2
      - homepage.widget.key=${HOMEPAGE_SPEEDTEST_API_KEY}
      - homepage.widget.bitratePrecision=1
      {% endif %}
    {% endif %}
