{% from 'macros/proxy_labels.j2' import proxy_labels with context %}
services:
  tautulli:
    image: tautulli/tautulli:latest
    container_name: tautulli
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    {% if 'tautulli' in traefik_enabled_containers or 'tautulli' in homepage_enabled_containers %}
    labels:
{{ proxy_labels(name='tautulli', port=8181) -}}
      {% if 'tautulli' in homepage_enabled_containers %}
      - homepage.group=Media
      - homepage.name=Tautulli
      - homepage.icon=tautulli.png
      - homepage.href=http://{{ hms_docker_container_map['tautulli']['proxy_host_rule'] | default('tautulli') }}.${HMSD_DOMAIN}
      - homepage.description=Media Analytics
      - homepage.widget.type=tautulli
      - homepage.widget.url=http://tautulli:8181
      - homepage.widget.key=${TAUTULLI_KEY:-apikeyapikeyapikey}
      {% if 'tautulli' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
      {% endif %}
      {% endif %}
    {% endif %}
    {% if 'tautulli' in expose_ports_enabled_containers %}
    ports:
      - 8181:8181
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/tautulli/config:/config
      # Plex logs location
      - ${HMSD_APPS_PATH}/plex/config/Library/Application Support/Plex Media Server/Logs:/plex_logs:ro
    healthcheck:
      test: curl -f http://127.0.0.1:8181/status || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s
