{% from 'macros/proxy_labels.j2' import proxy_labels with context %}
services:
  tinymediamanager:
    image: tinymediamanager/tinymediamanager:latest
    container_name: tinymediamanager
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    {% if 'tinymediamanager' in expose_ports_enabled_containers %}
    ports:
      - 5900:5900 # VNC port
      - 4000:4000 # Webinterface
    {% endif %}
    networks:
      - proxy_net
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    environment:
      - USER_ID=${PUID}
      - GROUP_ID=${PGID}
      - ALLOW_DIRECT_VNC=true
      - LC_ALL=en_US.UTF-8 # force UTF8
      - LANG=en_US.UTF-8   # force UTF8
      - PASSWORD=${TMM_VNC_PASSWORD}
      - TZ=${TIMEZONE}
    volumes:
      - ${HMSD_APPS_PATH}/tinymediamanager/config:/data
      - ${HMSD_MOUNT_PATH}:/media
    {% if 'tinymediamanager' in traefik_enabled_containers %}
    labels:
{{ proxy_labels(name='tinymediamanager', port=4000) -}}
    {% endif %}
    healthcheck:
      test: wget --spider -q http://127.0.0.1:4000/ || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 60s
