services:
  traefik:
    image: traefik:${TRAEFIK_TAG}
    container_name: traefik
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    ports:
      - 80:80
      - 443:443
    {% if not traefik_security_hardening %}
      - 8080:8080
    {% endif %}
    environment:
      - TZ=${TIMEZONE}
      - PUID=${PUID}
      - PGID=${PGID}
    {% if traefik_ssl_dns_provider_environment_vars %}
        {% for key, value in traefik_ssl_dns_provider_environment_vars.items() %}
        {# Due to how Ansible interprets curly brackets, I had to use 'raw' statements in order to render the ${} around the ansible 'key' variable to reference the .env file variable #}
      - {{ key }}={% raw %}${{% endraw %}{{ key }}{% raw %}}{% endraw +%}
        {% endfor %}
    {% endif %}
    networks:
      - proxy_net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${HMSD_APPS_PATH}/traefik/config/traefik.yml:/etc/traefik/traefik.yml:ro
      - ${HMSD_APPS_PATH}/traefik/config/certs/:/certs/
      - {{ hmsdocker_traefik_static_config_location }}:/etc/traefik/static_files:ro
    {% if 'traefik' in traefik_enabled_containers or 'traefik' in homepage_enabled_containers %}
    labels:
      {% if 'traefik' in traefik_enabled_containers %}
      - traefik.enable=true
      - traefik.http.routers.traefik-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['traefik']['proxy_host_rule'] | default('traefik') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.traefik-${COMPOSE_PROJECT}.service=api@internal
      - traefik.http.routers.traefik-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'traefik' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-traefik-midware@docker' if 'traefik' in authentik_enabled_containers }}
      {% endif %}
      {% if 'traefik' in homepage_enabled_containers %}
      - homepage.group=Infrastructure
      - homepage.name=Traefik
      - homepage.icon=traefik.png
      - homepage.href=http://{{ hms_docker_container_map['traefik']['proxy_host_rule'] | default('traefik') }}.${HMSD_DOMAIN}
      - homepage.description=Reverse Proxy
      - homepage.widget.type=traefik
      - homepage.widget.url=http://traefik:8080
        {% if 'traefik' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
