services:
  tubearchivist:
    image: bbilly1/tubearchivist
    container_name: tubearchivist
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
      - tubearchivist_net
    {% if 'tubearchivist' in expose_ports_enabled_containers %}
    ports:
      - 8001:8001
    {% endif %}
    volumes:
      - ${HMSD_MOUNT_PATH}/{{ hms_docker_primary_mount_name }}/{{ hms_docker_library_folder_name }}/youtube/tubearchivist:/youtube
      - ${HMSD_APPS_PATH}/tubearchivist/config/cache:/cache
    environment:
      - ES_URL=http://tubearchivist-es:9200
      - REDIS_CON=redis://tubearchivist-redis:6379
      - PUID=${PUID}
      - PGID=${PGID}
      - TA_HOST=https://{{ hms_docker_container_map['tubearchivist']['proxy_host_rule'] | default(ansible_default_ipv4.address) }}.${HMSD_DOMAIN}{{ ':8001' if 'tubearchivist' in expose_ports_enabled_containers }}  # set your host name with protocol and port
      - TA_USERNAME=${TUBEARCHIVIST_USERNAME}
      - TA_PASSWORD=${TUBEARCHIVIST_PASSWORD}
      - ELASTIC_PASSWORD=tub3@rch1v1sts00p3rs3cr3tp@ssw0rd
      - TA_PORT=8001
      - TZ=${TIMEZONE}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/api/health"]
      interval: 2m
      timeout: 10s
      retries: 3
      start_period: 30s
    depends_on:
      - tubearchivist-es
      - tubearchivist-redis
    {% if 'tubearchivist' in traefik_enabled_containers or 'tubearchivist' in homepage_enabled_containers %}
    labels:
      {% if 'tubearchivist' in traefik_enabled_containers %}
      - traefik.enable=true
      - traefik.http.services.tubearchivist-${COMPOSE_PROJECT}.loadbalancer.server.port=8001
      - traefik.http.routers.tubearchivist-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['tubearchivist']['proxy_host_rule'] | default('tubearchivist') }}.${HMSD_DOMAIN}`)
      - traefik.http.routers.tubearchivist-${COMPOSE_PROJECT}.middlewares={{ 'external' if 'tubearchivist' in expose_public_enabled_containers else 'internal' }}-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file{{ ',authentik-proxy-${COMPOSE_PROJECT}-tubearchivist-midware@docker' if 'tubearchivist' in authentik_enabled_containers }}
      {% endif %}
      {% if 'tubearchivist' in homepage_enabled_containers %}
      - homepage.group=Managers
      - homepage.name=Tubearchivist
      - homepage.icon=tubearchivist.png
      - homepage.href=https://{{ hms_docker_container_map['tubearchivist']['proxy_host_rule'] | default('tubearchivist') }}.${HMSD_DOMAIN}
      - homepage.description=YouTube Archiver
        {% if 'tubearchivist' in homepage_stats_enabled_containers %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}

  tubearchivist-redis:
    image: redis
    container_name: tubearchivist-redis
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - tubearchivist_net
    volumes:
      - tubearchivist_redis:/data
    depends_on:
      - tubearchivist-es

  tubearchivist-es:
    image: {{ 'bbilly1/tubearchivist-es' if ansible_architecture == 'x86_64' else 'elasticsearch:8.17.2' }}         # only for amd64, or use official es 8.17.2
    container_name: tubearchivist-es
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - tubearchivist_net
    environment:
      - "ELASTIC_PASSWORD=tub3@rch1v1sts00p3rs3cr3tp@ssw0rd"
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - "xpack.security.enabled=true"
      - "discovery.type=single-node"
      - "path.repo=/usr/share/elasticsearch/data/snapshot"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - tubearchivist_es:/usr/share/elasticsearch/data    # check for permission error when using bind mount, see readme

networks:
  tubearchivist_net:
    attachable: false
    driver: bridge

volumes:
  tubearchivist_redis:
  tubearchivist_es:
