{% from 'macros/proxy_labels.j2' import proxy_labels with context %}
services:
  wizarr:
    image: ghcr.io/wizarrrr/wizarr:latest
    container_name: wizarr
    restart: ${RESTART_POLICY}
    security_opt:
      - no-new-privileges:true
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    volumes:
      - ${HMSD_APPS_PATH}/wizarr/config:/data
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    {% if 'wizarr' in expose_ports_enabled_containers %}
    ports:
      - 5690:5690
    {% endif %}
    {% if 'wizarr' in traefik_enabled_containers %}
    labels:
{{ proxy_labels(name='wizarr', port=5690) -}}
    {% endif %}
    healthcheck:
      test: curl -f http://127.0.0.1:5690/ || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s
