services:
  wizarr:
    image: ghcr.io/wizarrrr/wizarr:latest
    container_name: wizarr
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    volumes:
      - ${HMSD_APPS_PATH}/wizarr/config:/data/database
    environment:
      - TZ=${TIMEZONE}
    {% if hmsdocker_expose_ports_enabled_wizarr %}
    ports:
      - 5690:5690
    {% endif %}
    {% if hmsdocker_traefik_enabled_wizarr %}
    labels:
      - traefik.enable=true
      - traefik.http.services.wizarr-${COMPOSE_PROJECT}.loadbalancer.server.port=5690
      - traefik.http.routers.wizarr-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['wizarr']['proxy_host_rule'] | default('wizarr') }}.${HMSD_DOMAIN}`)
      {% if not hmsdocker_expose_public_enabled_wizarr %}
      - traefik.http.routers.wizarr-${COMPOSE_PROJECT}.middlewares=internal-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}@file
      {% endif %}
      {% if hmsdocker_authentik_enabled_wizarr %}
      - traefik.http.routers.wizarr-${COMPOSE_PROJECT}.middlewares=authentik-proxy-${COMPOSE_PROJECT}-wizarr-midware@docker
      {% endif %}
    {% endif %}
