### Cloudflare settings

## DDNS
# Enables or disables the Cloudflare DDNS (Dynamic-DNS) container // default: "no"
cloudflare_ddns_enabled: no

# Your Cloudflare API token that has read/write permissions for your DNS zone
# This will also be provided to Traefik if using SSL (assuming Cloudflare is your DNS provider)
cloudflare_api_token: ""

# The domain that will be used for the Cloudflare DDNS container // default: "{{ hms_docker_domain }}"
# Automatically uses the same domain defined in `main.yml`
cloudflare_ddns_domain: "{{ hms_docker_domain }}"

# The A (or AAAA) record to be created // default: "overseerr"
cloudflare_ddns_subdomain: overseerr

# Whether to proxy the above record through Cloudflare // default: "true"
cloudflare_ddns_proxied: "true"

# Deletes the record when the container is stopped // default: "false"
cloudflare_ddns_delete_record_on_stop: "false"

# Creates an AAAA record for IPv6 // default: "no"
cloudflare_ddns_create_ipv6_aaaa_record: no


## Cloudflare Tunnel
# Enables or disables the Cloudflare Tunnel container // default: "no"
cloudflare_tunnel_enabled: no

# Your Cloudflare Tunnel token, see https://developers.cloudflare.com/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-guide/remote
# Be sure to only add the actual token, it will be a very long string of random characters
cloudflare_tunnel_token: ""

## Flaresolverr
# Enables or disables the Flaresolverr container // default: no
flaresolverr_enabled: no
