include:
{% for file in compose_files_created.results %}
  {# Add additional check for Authentik due to SSL dependency #}
  {% if 'authentik' in file and hmsdocker_authentik_enabled_globally %}
  - {{ file.dest }}
  {% else %}
  - {{ file.dest }}
  {% endif %}
{% endfor %}
{% if cloudflare_compose_file_path.dest | default(false) %}
  - {{ cloudflare_compose_file_path.dest }}
{% endif %}
{% if flaresolverr_compose_file_path.dest | default(false) %}
  - {{ flaresolverr_compose_file_path.dest }}
{% endif %}

networks:
  download_net:
    driver: bridge
    attachable: false
  media_net:
    driver: bridge
    attachable: false
  proxy_net:
    driver: bridge
    attachable: true
