{% if 'sonarr' in enabled_containers %}
sonarr:
  sonarr:
    base_url: http://sonarr:8989
    api_key: !env_var SONARR_KEY

  {% if separate_4k_instances_enable %}
  sonarr-4k:
    base_url: http://sonarr-4k:8989
    api_key: !env_var SONARR_4K_KEY
  {% endif %}
{% endif %}

{% if 'radarr' in enabled_containers %}
radarr:
  radarr:
    base_url: http://radarr:7878
    api_key: !env_var RADARR_KEY

  {% if separate_4k_instances_enable %}
  radarr-4k:
    base_url: http://radarr-4k:7878
    api_key: !env_var RADARR_4K_KEY
  {% endif %}
{% endif %}
