http:
  routers:
    {{ item.friendly_name | map('regex_replace', regex, replace) | list | join }}-{{ project_name }}:
      entryPoints:
      {% if traefik_ssl_enabled -%}
      - websecure
      {% else -%}
      - web
      {% endif -%}
      {% if authentik_enabled_globally and item.authentik is defined and item.authentik -%}
      middlewares:
      - authentik-proxy-{{ project_name }}-{{ item.friendly_name | map('regex_replace', regex, replace) | list | join }}-midware@docker
      {% endif -%}
      service: {{ item.friendly_name + "_svc" | map('regex_replace', regex, replace) | list | join }}
      rule: Host(`{{ item.subdomain_name }}.{{ hms_docker_domain }}`)

  services:
    {{ item.friendly_name + "_svc" | map('regex_replace', regex, replace) | list | join }}:
      loadBalancer:
        servers:
        - url: {{ item.backend_url }}
        passHostHeader: false
