[Preferences]
WebUI\Address=*
WebUI\AuthSubnetWhitelist=10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16
WebUI\AuthSubnetWhitelistEnabled=true
WebUI\CSRFProtection=false
WebUI\LocalHostAuth=false
WebUI\Port=8086
WebUI\ServerDomains=*
WebUI\UseUPnP=false
