certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
docker==6.1.3
idna==3.6
packaging==23.2
pycparser==2.21
python-dotenv==1.0.0
requests==2.31.0
urllib3==2.1.0
websocket-client==1.7.0
xmltodict==0.13.0
