http:
  middlewares:
    internal-secured:
      chain:
        middlewares:
          - internal-ipallowlist
          - https-only
          - secure-headers
          {% if hmsdocker_traefik_errorpages_enabled | default(true) %}
          - error-pages
          {% endif %}

    external-secured:
      chain:
        middlewares:
          - external-ipallowlist
          - https-only
          - secure-headers
          {% if hmsdocker_traefik_errorpages_enabled | default(true) %}
          - error-pages
          {% endif %}

    internal-secured-no-errorpages:
      chain:
        middlewares:
          - internal-ipallowlist
          - https-only
          - secure-headers

    external-secured-no-errorpages:
      chain:
        middlewares:
          - external-ipallowlist
          - https-only
          - secure-headers

    internal-ipallowlist-no-errorpages:
      chain:
        middlewares:
          - internal-ipallowlist

    external-ipallowlist-no-errorpages:
      chain:
        middlewares:
          - external-ipallowlist

    {% if hmsdocker_traefik_errorpages_enabled | default(true) %}
    error-pages:
      errors:
        status: 400-599
        service: error-pages-{{ project_name }}@docker
        query: /{status}.html
    {% endif %}

    https-only:
      redirectScheme:
        scheme: https
        permanent: true

    secure-headers:
      headers:
        frameDeny: true
        contentTypeNosniff: true
        allowedHosts: 
        {% for host in traefik_enabled_subdomains %}
          - "{{ host }}.{{ hms_docker_domain }}"
        {% endfor %}

    internal-ipallowlist:
      ipAllowList:
        sourceRange:
          - "127.0.0.1/32"
        {% for address in traefik_subnet_allow_list | regex_replace(', ', ',') | split(',') %}
          - "{{ address }}"
        {% endfor %}

    external-ipallowlist:
      ipAllowList:
        sourceRange:
          - "0.0.0.0/0"
