http:
  routers:
    {{ item.friendly_name | map('regex_replace', regex, replace) | list | join }}-{{ project_name }}:
      entryPoints:
      {% if traefik_ssl_enabled %}
        - websecure
      {% else %}
        - web
      {% endif %}
      middlewares:
      {% if item.expose_publicly | default(false) %}
        - external-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}
      {% else %}
        - internal-{{ 'secured' if traefik_security_hardening else 'ipallowlist' }}
      {% endif %}
      {% if ('authentik' in enabled_containers and traefik_ssl_enabled | default(False)) and item.authentik | default(False) %}
        - authentik-proxy-{{ project_name }}-{{ item.friendly_name | map('regex_replace', regex, replace) | list | join }}-midware@docker
      {% endif %}
      service: {{ item.friendly_name + "_svc" | map('regex_replace', regex, replace) | list | join }}
      rule: Host(`{{ item.subdomain_name }}.{{ hms_docker_domain }}`)

  services:
    {{ item.friendly_name + "_svc" | map('regex_replace', regex, replace) | list | join }}:
      loadBalancer:
        servers:
          - url: {{ item.backend_url }}
        passHostHeader: false
