name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master
    paths:
      - 'gen-docs/**'

jobs:
  build:
    name: Build Docusaurus
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: gen-docs/package-lock.json

      - name: Install dependencies
        run: |
          cd gen-docs
          npm install --frozen-lockfile

      - name: Build website
        run: |
          cd gen-docs
          npm run build

      - name: Upload Build Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: gen-docs/build

  deploy:
    name: Deploy to GitHub Pages
    needs: build
    concurrency: build-deploy-pages

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
