name: Test Docusaurus Deployment

on:
  push:
    paths:
      - 'docs-astro/**'
      - 'roles/hmsdocker/defaults/main/container_map.yml'
  pull_request:
    branches:
      - master
    paths:
      - 'docs-astro/**'
      - 'roles/hmsdocker/defaults/main/container_map.yml'

jobs:
  test-deploy:
    name: Test Install and Build
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: docs-astro/package-lock.json

      - name: Install dependencies
        run: |
          cd docs-astro
          npm install --frozen-lockfile

      - name: Test build website
        run: |
          mkdir -p docs-astro/public/configs
          cp roles/hmsdocker/defaults/main/container_map.yml docs-astro/public/configs/container_map.yml
          cd docs-astro
          npm run build
          
      - name: Upload Build Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs-astro/dist
