name: Test Docusaurus Deployment

on:
  push:
    paths:
      - 'gen-docs/**'
      - 'roles/hmsdocker/defaults/main/container_map.yml'
  pull_request:
    branches:
      - master
    paths:
      - 'gen-docs/**'
      - 'roles/hmsdocker/defaults/main/container_map.yml'

jobs:
  test-deploy:
    name: Test Install and Build
    runs-on: ubuntu-22.04
    permissions: {}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: gen-docs/package-lock.json

      - name: Install dependencies
        run: |
          cd gen-docs
          npm install --frozen-lockfile

      - name: Test build website
        run: |
          mkdir -p gen-docs/static/configs
          cp roles/hmsdocker/defaults/main/container_map.yml gen-docs/static/configs/container_map.yml
          cd gen-docs
          npm run build
          
      - name: Upload Build Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: gen-docs/build
