---
- name: Run RHEL-based install.
  ansible.builtin.import_tasks: redhat.yml
  when: gpu_family_override | lower == "redhat"

- name: Run Debian-based install.
  ansible.builtin.import_tasks: debian.yml
  when: ansible_facts["os_family"] | lower == "debian"

- name: Ensure nvidia-container-toolkit package
  ansible.builtin.package:
    name: nvidia-container-toolkit
    update_cache: true
    state: "{{ gpu_prereq_packages_state }}"
  ignore_errors: '{{ ansible_check_mode }}'

- name: Verify nvidia-container-runtime-hook is in $PATH
  ansible.builtin.shell: "which nvidia-container-runtime-hook"
  register: nvidia_container_runtime_hook_path
  changed_when: false

- name: Exit if nvidia-container-runtime-hook is not in $PATH
  ansible.builtin.fail:
    msg: "nvidia-container-runtime-hook not found in $PATH"
  when: nvidia_container_runtime_hook_path.rc != 0

